@font-face {
  font-family: timeFont;
  src: url(Solari.ttf);
}

* {
  background: #DDDDDD;
}

.time {
  color: black;
  font-family: timeFont;
  display: inline-block;
  font-size: 40px;
  padding-top: 30px;
}


.clock-face {
  width: 600px;
  height: 600px;
  border: 5px solid black;
  border-radius: 50%;
  background:url('http://www.clker.com/cliparts/s/h/B/C/3/j/clock-with-minute-ticks-no-hands-hi.png') no-repeat center;
  padding: 0 auto;
}

.second {
  height: 220px;
   width: 5px;
   border-radius: 20%;
   background-color: red;
   position: absolute;
   left: 43.6%;
   top: 14%;
   transform-origin: bottom;

}

.minute {
  height: 220px;
   width: 5px;
   border-radius: 20%;
   background-color: black;
   position: absolute;
   left: 43.6%;
   top: 14%;
   transform-origin: bottom;
}

.hour {
  height: 150px;
   width: 8px;
   border-radius: 30%;
   background-color: black;
   position: absolute;
   left: 43.5%;
   top: 26%;
   transform-origin: bottom;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

.secondRotate {
  animation: rotate 60s infinite steps(60);
}

.minuteRotate {
  animation: rotate 3600s infinite steps(60);
}

.hourRotate {
  animation: rotate 43200s infinite;
}
