
  <form class="" action="http//:62.249.208.122:3000/user" method="post">
    <input type="text" placeholder="First Name">
    <input type="text" placeholder="Last Name">
    <input type="text" placeholder="Email">
  </form>

  <a href='/users/create'><input type="submit" value="Create"></a>
