<h1>Edit</h1>

<section ng-init="todo.getTodo()">

<div class="containerEditandNew">
  <form ng-submit="todo.updateTodo()">


      <label for="new-todo-title">To do:</label>
      <input
        type="text"
        id="new-todo-title"
        placeholder="todo title"
        ng-model="todo.selectedTodo.todo.title">



      <label for="new-todo-descripton">Notes:</label>
      <input
        type="text"
        id="new-todo-description"
        placeholder="edit description"
        ng-model="todo.selectedTodo.todo.desc">


    <input class="updateandCreate" type="submit" value="Update">

  </form>
</div>
  <a ui-sref="home" class="back">Back</a>

</section>
