<h1>New</h1>

<div class="containerEditandNew">
<form ng-submit="todo.addTodo()">
  <label for="new-todo-name"><p>To do:</p></label>

  <input type="text"
    name="title"
    placeholder="To-do"
    id="new-todo-name"
    ng-model="todo.newTodo.title">

  <label for="new-todo-description">Notes:</label>
  <input type="text"
        name="description"
        placeholder="Notes"
        id="new-todo-description"
        ng-model="todo.newTodo.desc">



    <input class="updateandCreate" type="submit" value="Create" >


</form>
</div>
<a ui-sref="home" class="back">Back</a>
